/* :: Preloader CSS */
#preloader {
  background-color: #f1f2fb;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  overflow: hidden; }

/* :: Bootstrap Color Reset CSS */
a {
  color: #337ab7; }

kbd {
  background-color: #061238; }

caption {
  color: #8480ae; }

.blockquote-footer {
  color: #8480ae; }

.img-thumbnail {
  border-color: #ebebeb; }

.figure-caption {
  color: #8480ae; }

.table {
  border-color: #ebebeb; }

.table-primary {
  color: #1f0757; }

.table-secondary {
  color: #1f0757; }

.table-success {
  color: #1f0757; }

.table-info {
  color: #1f0757; }

.table-warning {
  color: #1f0757; }

.table-danger {
  color: #1f0757; }

.table-light {
  color: #1f0757; }

.form-text {
  color: #8480ae; }

.form-control {
  color: #1f0757;
  border-color: #ebebeb; }

.form-control::-webkit-input-placeholder {
  color: #8480ae; }

.form-control::-moz-placeholder {
  color: #8480ae; }

.form-control::-ms-input-placeholder {
  color: #8480ae; }

.form-control:-ms-input-placeholder {
  color: #8480ae; }

.form-control::placeholder {
  color: #8480ae; }

.form-control-plaintext {
  color: #1f0757; }

.form-select {
  color: #1f0757;
  border-color: #ebebeb; }

.form-select:focus::-ms-value {
  color: #1f0757;
  background-color: #ffffff; }

.form-select:disabled {
  color: #8480ae;
  background-color: #f1f2fb; }

.form-check-input {
  background-color: #ffffff;
  border: 1px solid #ebebeb; }

.form-check-input:checked {
  background-color: #337ab7;
  border-color: #337ab7; }

.form-check-input[type="checkbox"]:indeterminate {
  background-color: #337ab7;
  border-color: #337ab7; }

.form-file-text {
  color: #1f0757;
  background-color: #ffffff; }

.form-file-button {
  color: #1f0757;
  background-color: #f1f2fb; }

.form-range::-webkit-slider-thumb {
  background-color: #337ab7; }

.form-range::-moz-range-thumb {
  background-color: #337ab7; }

.form-range::-ms-thumb {
  background-color: #337ab7; }

.input-group-text {
  color: #1f0757;
  background-color: #cff2ff;
  border-color: #cff2ff; }

.valid-feedback {
  color: #2ecc4a; }

.valid-tooltip {
  color: #ffffff;
  background-color: rgba(40, 167, 69, 0.9); }

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #2ecc4a; }

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: #2ecc4a; }

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: #2ecc4a; }

.was-validated .form-select:valid,
.form-select.is-valid {
  border-color: #2ecc4a; }

.was-validated .form-select:valid:focus,
.form-select.is-valid:focus {
  border-color: #2ecc4a; }

.was-validated .form-check-input:valid,
.form-check-input.is-valid {
  border-color: #2ecc4a; }

.was-validated .form-check-input:valid:checked,
.form-check-input.is-valid:checked {
  background-color: #2ecc4a; }

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: #2ecc4a; }

.was-validated .form-file-input:valid ~ .form-file-label,
.form-file-input.is-valid ~ .form-file-label {
  border-color: #2ecc4a; }

.was-validated .form-file-input:valid:focus ~ .form-file-label,
.form-file-input.is-valid:focus ~ .form-file-label {
  border-color: #2ecc4a; }

.invalid-feedback {
  color: #ea4c62; }

.invalid-tooltip {
  color: #ffffff;
  background-color: rgba(220, 53, 69, 0.9); }

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #ea4c62; }

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #ea4c62; }

.was-validated .form-select:invalid,
.form-select.is-invalid {
  border-color: #ea4c62; }

.was-validated .form-select:invalid:focus,
.form-select.is-invalid:focus {
  border-color: #ea4c62; }

.was-validated .form-check-input:invalid,
.form-check-input.is-invalid {
  border-color: #ea4c62; }

.was-validated .form-check-input:invalid:checked,
.form-check-input.is-invalid:checked {
  background-color: #ea4c62; }

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: #ea4c62; }

.was-validated .form-file-input:invalid ~ .form-file-label,
.form-file-input.is-invalid ~ .form-file-label {
  border-color: #ea4c62; }

.was-validated .form-file-input:invalid:focus ~ .form-file-label,
.form-file-input.is-invalid:focus ~ .form-file-label {
  border-color: #ea4c62; }

.btn {
  color: #1f0757; }

.btn:hover {
  color: #1f0757; }

.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7; }

.btn-primary:hover {
  color: #ffffff;
  background-color: #025ce2;
  border-color: #0257d5; }

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #ffffff;
  background-color: #025ce2;
  border-color: #0257d5; }

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #0257d5;
  border-color: #0252c9; }

.btn-primary:disabled,
.btn-primary.disabled {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7; }

.btn-secondary {
  color: #ffffff;
  background-color: #8480ae;
  border-color: #8480ae; }

.btn-secondary:hover {
  color: #ffffff;
  background-color: #5a6268;
  border-color: #545b62; }

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  color: #ffffff;
  background-color: #5a6268;
  border-color: #545b62; }

.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #545b62;
  border-color: #4e555b; }

.btn-success {
  color: #ffffff;
  background-color: #2ecc4a;
  border-color: #2ecc4a; }

.btn-success:hover {
  color: #ffffff;
  background-color: #218838;
  border-color: #1e7e34; }

.btn-check:focus + .btn-success,
.btn-success:focus {
  color: #ffffff;
  background-color: #218838;
  border-color: #1e7e34; }

.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #ffffff;
  background-color: #1e7e34;
  border-color: #1c7430; }

.btn-success:disabled,
.btn-success.disabled {
  color: #ffffff;
  background-color: #2ecc4a;
  border-color: #2ecc4a; }

.btn-info {
  color: #ffffff;
  background-color: #1787b8;
  border-color: #1787b8; }

.btn-info:hover {
  color: #ffffff;
  background-color: #138496;
  border-color: #117a8b; }

.btn-check:focus + .btn-info,
.btn-info:focus {
  color: #ffffff;
  background-color: #138496;
  border-color: #117a8b; }

.btn-check:checked + .btn-info,
.btn-check:active + .btn-info,
.btn-info:active,
.btn-info.active,
.show > .btn-info.dropdown-toggle {
  color: #ffffff;
  background-color: #117a8b;
  border-color: #10707f; }

.btn-info:disabled,
.btn-info.disabled {
  color: #ffffff;
  background-color: #1787b8;
  border-color: #1787b8; }

.btn-warning {
  color: #1f0757;
  background-color: #f1b10f;
  border-color: #f1b10f; }

.btn-warning:hover {
  color: #1f0757;
  background-color: #e0a800;
  border-color: #d39e00; }

.btn-check:focus + .btn-warning,
.btn-warning:focus {
  color: #1f0757;
  background-color: #e0a800;
  border-color: #d39e00; }

.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning,
.btn-warning:active,
.btn-warning.active,
.show > .btn-warning.dropdown-toggle {
  color: #1f0757;
  background-color: #d39e00;
  border-color: #c69500; }

.btn-warning:disabled,
.btn-warning.disabled {
  color: #1f0757;
  background-color: #f1b10f;
  border-color: #f1b10f; }

.btn-danger {
  color: #ffffff;
  background-color: #ea4c62;
  border-color: #ea4c62; }

.btn-danger:hover {
  color: #ffffff;
  background-color: #c82333;
  border-color: #bd2130; }

.btn-check:focus + .btn-danger,
.btn-danger:focus {
  color: #ffffff;
  background-color: #c82333;
  border-color: #bd2130; }

.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger,
.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  color: #ffffff;
  background-color: #bd2130;
  border-color: #b21f2d; }

.btn-danger:disabled,
.btn-danger.disabled {
  color: #ffffff;
  background-color: #ea4c62;
  border-color: #ea4c62; }

.btn-light {
  color: #1f0757;
  background-color: #f1f2fb;
  border-color: #f1f2fb; }

.btn-light:hover {
  color: #1f0757;
  background-color: #e2e6ea;
  border-color: #dae0e5; }

.btn-check:focus + .btn-light,
.btn-light:focus {
  color: #1f0757;
  background-color: #e2e6ea;
  border-color: #dae0e5; }

.btn-check:checked + .btn-light,
.btn-check:active + .btn-light,
.btn-light:active,
.btn-light.active,
.show > .btn-light.dropdown-toggle {
  color: #1f0757;
  background-color: #dae0e5;
  border-color: #d3d9df; }

.btn-light:disabled,
.btn-light.disabled {
  color: #1f0757;
  background-color: #f1f2fb;
  border-color: #f1f2fb; }

.btn-dark {
  color: #ffffff;
  background-color: #061238;
  border-color: #061238; }

.btn-dark:hover {
  color: #ffffff;
  background-color: #23272b;
  border-color: #1d2124; }

.btn-check:focus + .btn-dark,
.btn-dark:focus {
  color: #ffffff;
  background-color: #23272b;
  border-color: #1d2124; }

.btn-check:checked + .btn-dark,
.btn-check:active + .btn-dark,
.btn-dark:active,
.btn-dark.active,
.show > .btn-dark.dropdown-toggle {
  color: #ffffff;
  background-color: #1d2124;
  border-color: #171a1d; }

.btn-dark:disabled,
.btn-dark.disabled {
  color: #ffffff;
  background-color: #061238;
  border-color: #061238; }

.btn-outline-primary {
  color: #337ab7;
  border-color: #337ab7; }

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7; }

.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7; }

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  color: #337ab7; }

.btn-outline-secondary {
  color: #8480ae;
  border-color: #8480ae; }

.btn-outline-secondary:hover {
  color: #ffffff;
  background-color: #8480ae;
  border-color: #8480ae; }

.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
  color: #ffffff;
  background-color: #8480ae;
  border-color: #8480ae; }

.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
  color: #8480ae; }

.btn-outline-success {
  color: #2ecc4a;
  border-color: #2ecc4a; }

.btn-outline-success:hover {
  color: #ffffff;
  background-color: #2ecc4a;
  border-color: #2ecc4a; }

.btn-check:checked + .btn-outline-success,
.btn-check:active + .btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show {
  color: #ffffff;
  background-color: #2ecc4a;
  border-color: #2ecc4a; }

.btn-outline-success:disabled,
.btn-outline-success.disabled {
  color: #2ecc4a; }

.btn-outline-info {
  color: #1787b8;
  border-color: #1787b8; }

.btn-outline-info:hover {
  color: #ffffff;
  background-color: #1787b8;
  border-color: #1787b8; }

.btn-check:checked + .btn-outline-info,
.btn-check:active + .btn-outline-info,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.dropdown-toggle.show {
  color: #ffffff;
  background-color: #1787b8;
  border-color: #1787b8; }

.btn-outline-info:disabled,
.btn-outline-info.disabled {
  color: #1787b8; }

.btn-outline-warning {
  color: #f1b10f;
  border-color: #f1b10f; }

.btn-outline-warning:hover {
  color: #1f0757;
  background-color: #f1b10f;
  border-color: #f1b10f; }

.btn-check:checked + .btn-outline-warning,
.btn-check:active + .btn-outline-warning,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show {
  color: #1f0757;
  background-color: #f1b10f;
  border-color: #f1b10f; }

.btn-outline-warning:disabled,
.btn-outline-warning.disabled {
  color: #f1b10f; }

.btn-outline-danger {
  color: #ea4c62;
  border-color: #ea4c62; }

.btn-outline-danger:hover {
  color: #ffffff;
  background-color: #ea4c62;
  border-color: #ea4c62; }

.btn-check:checked + .btn-outline-danger,
.btn-check:active + .btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.dropdown-toggle.show {
  color: #ffffff;
  background-color: #ea4c62;
  border-color: #ea4c62; }

.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
  color: #ea4c62; }

.btn-outline-light {
  color: #f1f2fb;
  border-color: #f1f2fb; }

.btn-outline-light:hover {
  color: #1f0757;
  background-color: #f1f2fb;
  border-color: #f1f2fb; }

.btn-check:checked + .btn-outline-light,
.btn-check:active + .btn-outline-light,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.dropdown-toggle.show {
  color: #1f0757;
  background-color: #f1f2fb;
  border-color: #f1f2fb; }

.btn-outline-light:disabled,
.btn-outline-light.disabled {
  color: #f1f2fb; }

.btn-outline-dark {
  color: #061238;
  border-color: #061238; }

.btn-outline-dark:hover {
  color: #ffffff;
  background-color: #061238;
  border-color: #061238; }

.btn-check:checked + .btn-outline-dark,
.btn-check:active + .btn-outline-dark,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show {
  color: #ffffff;
  background-color: #061238;
  border-color: #061238; }

.btn-outline-dark:disabled,
.btn-outline-dark.disabled {
  color: #061238; }

.btn-link {
  color: #337ab7; }

.btn-link:hover {
  color: #024dbc; }

.btn-link:disabled,
.btn-link.disabled {
  color: #8480ae; }

.dropdown-menu {
  color: #1f0757;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.dropdown-divider {
  border-top: 1px solid #f1f2fb; }

.dropdown-item {
  color: #1f0757; }

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  background-color: #f1f2fb; }

.dropdown-item.active,
.dropdown-item:active {
  color: #ffffff;
  background-color: #337ab7; }

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #8480ae; }

.dropdown-header {
  color: #8480ae; }

.dropdown-item-text {
  color: #1f0757; }

.nav-link.disabled {
  color: #8480ae; }

.nav-tabs {
  border-bottom-color: #ebebeb; }

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #f1f2fb #f1f2fb #ebebeb; }

.nav-tabs .nav-link.disabled {
  color: #8480ae; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #1f0757;
  background-color: #ffffff;
  border-color: #ebebeb #ebebeb #ffffff; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #337ab7; }

.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125); }

.card-header {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-footer {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125); }

.breadcrumb {
  background-color: #f1f2fb; }

.breadcrumb-item + .breadcrumb-item::before {
  color: #8480ae;
  content: "/"; }

.breadcrumb-item.active {
  color: #8480ae; }

.page-link {
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #ebebeb; }

.page-link:hover {
  color: #024dbc;
  background-color: #f1f2fb;
  border-color: #ebebeb; }

.page-item.active .page-link {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7; }

.page-item.disabled .page-link {
  color: #8480ae;
  background-color: #ffffff;
  border-color: #ebebeb; }

.progress {
  background-color: #f1f2fb; }

.progress-bar {
  color: #ffffff;
  background-color: #337ab7; }

.list-group-item-action {
  color: #1f0757; }

.list-group-item-action:hover,
.list-group-item-action:focus {
  color: #1f0757;
  background-color: #f1f2fb; }

.list-group-item-action:active {
  color: #1f0757;
  background-color: #f1f2fb; }

.list-group-item {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125); }

.list-group-item.disabled,
.list-group-item:disabled {
  color: #8480ae;
  background-color: #ffffff; }

.list-group-item.active {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7; }

.toast {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.1); }

.toast-header {
  color: #8480ae;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.modal-header {
  border-bottom: 1px solid #ebebeb; }

.modal-footer {
  border-top: 1px solid #ebebeb; }

.popover-body {
  color: #1f0757; }

.link-primary {
  color: #337ab7; }

.link-primary:hover,
.link-primary:focus {
  color: #024dbc; }

.link-secondary {
  color: #8480ae; }

.link-secondary:hover,
.link-secondary:focus {
  color: #494f54; }

.link-success {
  color: #2ecc4a; }

.link-success:hover,
.link-success:focus {
  color: #19692c; }

.link-info {
  color: #1787b8; }

.link-info:hover,
.link-info:focus {
  color: #0f6674; }

.link-warning {
  color: #f1b10f; }

.link-warning:hover,
.link-warning:focus {
  color: #ba8b00; }

.link-danger {
  color: #ea4c62; }

.link-danger:hover,
.link-danger:focus {
  color: #a71d2a; }

.link-light {
  color: #f1f2fb; }

.link-light:hover,
.link-light:focus {
  color: #cbd3da; }

.link-dark {
  color: #061238; }

.link-dark:hover,
.link-dark:focus {
  color: #121416; }

.border {
  border-color: #ebebeb !important; }

.border-top {
  border-top-color: #ebebeb !important; }

.border-end {
  border-right-color: #ebebeb !important; }

.border-bottom {
  border-bottom-color: #ebebeb !important; }

.border-start {
  border-left-color: #ebebeb !important; }

.border-primary {
  border-color: #337ab7 !important; }

.border-secondary {
  border-color: #8480ae !important; }

.border-success {
  border-color: #2ecc4a !important; }

.border-info {
  border-color: #1787b8 !important; }

.border-warning {
  border-color: #f1b10f !important; }

.border-danger {
  border-color: #ea4c62 !important; }

.border-light {
  border-color: #f1f2fb !important; }

.border-dark {
  border-color: #061238 !important; }

.text-primary {
  color: #337ab7 !important; }

.text-secondary {
  color: #8480ae !important; }

.text-success {
  color: #2ecc4a !important; }

.text-info {
  color: #1787b8 !important; }

.text-warning {
  color: #f1b10f !important; }

.text-danger {
  color: #ea4c62 !important; }

.text-light {
  color: #f1f2fb !important; }

.text-dark {
  color: #061238 !important; }

.text-body {
  color: #1f0757 !important; }

.text-muted {
  color: #8480ae !important; }

.bg-primary {
  background-color: #337ab7 !important; }

.bg-secondary {
  background-color: #8480ae !important; }

.bg-success {
  background-color: #2ecc4a !important; }

.bg-info {
  background-color: #1787b8 !important; }

.bg-warning {
  background-color: #f1b10f !important; }

.bg-danger {
  background-color: #ea4c62 !important; }

.bg-light {
  background-color: #f1f2fb !important; }

.bg-dark {
  background-color: #061238 !important; }

.form-control:disabled,
.form-control[readonly] {
  background-color: #f1f2fb; }

.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #1f0757; }

.bs-tooltip-auto[x-placement^=right] .tooltip-arrow::before,
.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #1f0757; }

.bs-tooltip-auto[x-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #1f0757; }

.bs-tooltip-auto[x-placement^=left] .tooltip-arrow::before,
.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #1f0757; }

.tooltip-inner {
  padding: .375rem 1rem;
  background-color: #1f0757; }

.tooltip.show {
  opacity: 1; }

/* :: Reboot CSS */
* {
  margin: 0;
  padding: 0; }

body,
html {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  background-color: #e2e9fe;
  color: #8480ae;
  scrollbar-width: thin; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  color: #1f0757; }

p {
  font-size: 14px;
  color: #8480ae; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent; }

ul {
  margin: 0; }
ul li {
  list-style: none;
  text-decoration: none; }
ul li:hover, ul li:focus {
  list-style: none;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/* :: Shortcodes CSS */
input:required,
textarea:required,
input:invalid,
textarea:invalid {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 940px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 800px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 640px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 400px; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 520px; } }

.list-unstyled li {
  margin-top: 0.5rem; }
.list-unstyled li:first-child {
  margin-top: 0; }
.list-unstyled li ul li {
  list-style: circle; }
.list-unstyled li ul li:first-child {
  margin-top: 0.5rem; }

.img-circle {
  border-radius: 50% !important; }

.bi {
  display: inline-block;
  vertical-align: text-bottom; }

.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.bg-fixed {
  background-attachment: fixed; }

.bg-overlay {
  position: relative;
  z-index: 1; }
.bg-overlay::after {
  position: absolute;
  content: "";
  background-color: #061238;
  opacity: 0.63;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }

.bg-gray {
  background-color: #f1f2fb !important; }

.stretched-link {
  position: relative;
  z-index: 1;
  text-decoration: underline; }
.stretched-link:hover, .stretched-link:focus {
  text-decoration: underline; }

.border-content small {
  font-size: 10px;
  text-align: center;
  margin-bottom: 0.5rem; }

.rounded {
  border-radius: 0.325rem !important; }

.rounded-top {
  border-top-left-radius: 0.325rem !important;
  border-top-right-radius: 0.325rem !important; }

.rounded-right {
  border-top-right-radius: 0.325rem !important;
  border-bottom-right-radius: 0.325rem !important; }

.rounded-bottom {
  border-bottom-right-radius: 0.325rem !important;
  border-bottom-left-radius: 0.325rem !important; }

.rounded-left {
  border-bottom-left-radius: 0.325rem !important;
  border-top-left-radius: 0.325rem !important; }

.rounded-lg {
  border-radius: 0.5rem !important; }

.dark-mode-switching,
.rtl-mode-switching {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background-color: #ffffff;
  display: none; }
.dark-mode-switching svg,
.rtl-mode-switching svg {
  margin: 0 auto .5rem;
  color: #1f0757; }
.dark-mode-switching .dark-mode-text,
.dark-mode-switching .rtl-mode-text,
.rtl-mode-switching .dark-mode-text,
.rtl-mode-switching .rtl-mode-text {
  display: none; }
.dark-mode-switching .light-mode-text,
.dark-mode-switching .ltr-mode-text,
.rtl-mode-switching .light-mode-text,
.rtl-mode-switching .ltr-mode-text {
  display: block; }

/* :: Internet Status CSS */
.internet-connection-status {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 40px;
  z-index: 99999;
  text-align: center;
  color: #ffffff;
  bottom: 62px;
  left: 0;
  right: 0;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px; }
.internet-connection-status.internet-is-back {
  background-color: #2ecc4a; }
.internet-connection-status.internet-is-lost {
  background-color: #ea4c62; }

/* :: Animation CSS */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes flashing {
  0%,
  90% {
    opacity: 1; }
  45% {
    opacity: 0; } }

@keyframes flashing {
  0%,
  90% {
    opacity: 1; }
  45% {
    opacity: 0; } }

@-webkit-keyframes circlebig {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes circlebig {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes dotloader {
  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }

@keyframes dotloader {
  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }

@-webkit-keyframes circleloader2 {
  0% {
    width: 0%;
    height: 0%; }
  40% {
    width: 100%;
    height: 100%;
    opacity: 0.7; }
  100% {
    width: 240%;
    height: 240%;
    opacity: 0; } }

@keyframes circleloader2 {
  0% {
    width: 0%;
    height: 0%; }
  40% {
    width: 100%;
    height: 100%;
    opacity: 0.7; }
  100% {
    width: 240%;
    height: 240%;
    opacity: 0; } }

@-webkit-keyframes toast-animation {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes toast-animation {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@-webkit-keyframes typingg {
  0% {
    top: 0; }
  50% {
    top: -6px; }
  100% {
    top: 0; } }

@keyframes typingg {
  0% {
    top: 0; }
  50% {
    top: -6px; }
  100% {
    top: 0; } }

/* :: Register CSS */
.login-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  overflow-y: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  background-color: #ffffff; }
.login-wrapper .brand-logo {
  max-height: 26px; }
.login-wrapper .login-intro-img {
  max-height: 16rem; }

.login-back-button {
  position: fixed;
  top: 2rem;
  left: 28px;
  z-index: 100; }

.login-meta-data a {
  font-size: 14px;
  color: #1f0757;
  font-weight: 500; }
.login-meta-data a:hover, .login-meta-data a:focus {
  color: #337ab7; }

.login-meta-data p a {
  color: #1f0757;
  font-weight: 500;
  margin-left: .25rem; }
.login-meta-data p a:hover, .login-meta-data p a:focus {
  color: #337ab7; }

/* :: Header Area */
.header-area {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid #ebebeb; }

.header-content {
  z-index: 1;
  height: 50px; }
.header-content .back-button a {
  display: block;
  margin-left: -.25rem; }
.header-content .logo-wrapper a {
  display: block; }
.header-content .logo-wrapper a img {
  max-height: 26px;
  width: auto; }
.header-content .navbar--toggler {
  position: relative;
  z-index: 1;
  cursor: pointer; }
.header-content .navbar--toggler span {
  width: 23px;
  height: 2px;
  background-color: #1f0757;
  margin-bottom: 5px; }
.header-content .navbar--toggler span:nth-child(2) {
  width: 18px; }
.header-content .navbar--toggler span:last-child {
  margin-bottom: 0;
  width: 13px; }
.header-content .setting-trigger-btn {
  position: relative;
  z-index: 1;
  display: block;
  color: #1f0757; }
.header-content .setting-trigger-btn span {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #337ab7;
  position: absolute;
  top: 4px;
  right: 1px;
  border-radius: 50%;
  -webkit-animation: flashing 1.2s 0s infinite;
  animation: flashing 1.2s 0s infinite; }
.header-content .search-trigger-btn {
  color: #1f0757; }
.header-content .search-trigger-btn:hover, .header-content .search-trigger-btn:focus {
  color: #337ab7; }

.bg-success .header-content .navbar--toggler,
.bg-primary .header-content .navbar--toggler,
.bg-secondary .header-content .navbar--toggler,
.bg-dark .header-content .navbar--toggler,
.bg-danger .header-content .navbar--toggler,
.bg-info .header-content .navbar--toggler,
.bg-warning .header-content .navbar--toggler {
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.2); }
.bg-success .header-content .navbar--toggler span,
.bg-primary .header-content .navbar--toggler span,
.bg-secondary .header-content .navbar--toggler span,
.bg-dark .header-content .navbar--toggler span,
.bg-danger .header-content .navbar--toggler span,
.bg-info .header-content .navbar--toggler span,
.bg-warning .header-content .navbar--toggler span {
  background-color: #ffffff; }

.bg-success .header-content .setting-trigger-btn,
.bg-primary .header-content .setting-trigger-btn,
.bg-secondary .header-content .setting-trigger-btn,
.bg-dark .header-content .setting-trigger-btn,
.bg-danger .header-content .setting-trigger-btn,
.bg-info .header-content .setting-trigger-btn,
.bg-warning .header-content .setting-trigger-btn {
  color: #ffffff; }
.bg-success .header-content .setting-trigger-btn:hover, .bg-success .header-content .setting-trigger-btn:focus,
.bg-primary .header-content .setting-trigger-btn:hover,
.bg-primary .header-content .setting-trigger-btn:focus,
.bg-secondary .header-content .setting-trigger-btn:hover,
.bg-secondary .header-content .setting-trigger-btn:focus,
.bg-dark .header-content .setting-trigger-btn:hover,
.bg-dark .header-content .setting-trigger-btn:focus,
.bg-danger .header-content .setting-trigger-btn:hover,
.bg-danger .header-content .setting-trigger-btn:focus,
.bg-info .header-content .setting-trigger-btn:hover,
.bg-info .header-content .setting-trigger-btn:focus,
.bg-warning .header-content .setting-trigger-btn:hover,
.bg-warning .header-content .setting-trigger-btn:focus {
  color: #ffffff; }

.bg-success .header-content .search-trigger-btn,
.bg-primary .header-content .search-trigger-btn,
.bg-secondary .header-content .search-trigger-btn,
.bg-dark .header-content .search-trigger-btn,
.bg-danger .header-content .search-trigger-btn,
.bg-info .header-content .search-trigger-btn,
.bg-warning .header-content .search-trigger-btn {
  color: #ffffff;
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.2); }
.bg-success .header-content .search-trigger-btn:hover, .bg-success .header-content .search-trigger-btn:focus,
.bg-primary .header-content .search-trigger-btn:hover,
.bg-primary .header-content .search-trigger-btn:focus,
.bg-secondary .header-content .search-trigger-btn:hover,
.bg-secondary .header-content .search-trigger-btn:focus,
.bg-dark .header-content .search-trigger-btn:hover,
.bg-dark .header-content .search-trigger-btn:focus,
.bg-danger .header-content .search-trigger-btn:hover,
.bg-danger .header-content .search-trigger-btn:focus,
.bg-info .header-content .search-trigger-btn:hover,
.bg-info .header-content .search-trigger-btn:focus,
.bg-warning .header-content .search-trigger-btn:hover,
.bg-warning .header-content .search-trigger-btn:focus {
  color: #ffffff; }

.bg-success .header-content .user-profile-trigger-btn,
.bg-primary .header-content .user-profile-trigger-btn,
.bg-secondary .header-content .user-profile-trigger-btn,
.bg-dark .header-content .user-profile-trigger-btn,
.bg-danger .header-content .user-profile-trigger-btn,
.bg-info .header-content .user-profile-trigger-btn,
.bg-warning .header-content .user-profile-trigger-btn {
  color: #ffffff;
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.2); }
.bg-success .header-content .user-profile-trigger-btn:hover, .bg-success .header-content .user-profile-trigger-btn:focus,
.bg-primary .header-content .user-profile-trigger-btn:hover,
.bg-primary .header-content .user-profile-trigger-btn:focus,
.bg-secondary .header-content .user-profile-trigger-btn:hover,
.bg-secondary .header-content .user-profile-trigger-btn:focus,
.bg-dark .header-content .user-profile-trigger-btn:hover,
.bg-dark .header-content .user-profile-trigger-btn:focus,
.bg-danger .header-content .user-profile-trigger-btn:hover,
.bg-danger .header-content .user-profile-trigger-btn:focus,
.bg-info .header-content .user-profile-trigger-btn:hover,
.bg-info .header-content .user-profile-trigger-btn:focus,
.bg-warning .header-content .user-profile-trigger-btn:hover,
.bg-warning .header-content .user-profile-trigger-btn:focus {
  color: #ffffff; }

.header-demo-bg {
  background-color: #fff; }

/* :: Sidenav CSS */
.sidenav-wrapper {
  background-color: #ffffff;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: fixed;
  width: 100%;
  z-index: 99999999;
  top: 0;
  left: -330px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  width: 285px; }
.sidenav-wrapper.nav-active {
  left: 0; }
.sidenav-wrapper .go-back-btn {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  top: 16px;
  left: 16px;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
  z-index: 9999;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.sidenav-wrapper .go-back-btn:hover, .sidenav-wrapper .go-back-btn:focus {
  background-color: rgba(255, 255, 255, 0.4);
  color: #1f0757; }
.sidenav-wrapper .sidenav-style1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: -10;
  opacity: 0.1;
  width: 2rem;
  height: 3.5rem;
  border-radius: 2px 70px;
  background-color: #ffffff; }
.sidenav-wrapper .sidenav-style1::after {
  content: '';
  width: 2rem;
  height: 0.25rem;
  background-color: #ffffff;
  position: absolute;
  border-radius: 0.5rem;
  bottom: 0.25rem;
  left: 2.5rem; }
.sidenav-wrapper.right-side-mode {
  left: auto;
  right: -330px; }
.sidenav-wrapper.right-side-mode.nav-active {
  left: auto;
  right: 0; }
.sidenav-wrapper.right-side-mode .go-back-btn {
  left: auto;
  right: 16px; }

.sidenav-black-overlay {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #337ab7;
  z-index: 9999;
  opacity: 0.5;
  visibility: hidden; }
.sidenav-black-overlay.active {
  visibility: visible; }

.sidenav-profile {
  background-color: #337ab7;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 0;
  padding-top: 3rem;
  padding-bottom: 3rem; }
.sidenav-profile .user-profile {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 0.5rem; }
.sidenav-profile .user-profile img {
  border-radius: 50%; }
.sidenav-profile .user-info {
  position: relative;
  z-index: 1; }
.sidenav-profile .user-info h6 {
  color: #ffffff;
  text-transform: uppercase; }
.sidenav-profile .user-info span {
  font-size: 13px;
  color: #ffffff;
  opacity: 0.8; }

.sidenav-nav {
  margin: 1.5rem 0;
  position: relative;
  z-index: 1; }
.sidenav-nav li {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
.sidenav-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8480ae;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-size: 14px;
  font-weight: 500; }
.sidenav-nav li a svg {
  margin-right: 1rem; }
.sidenav-nav li a:hover, .sidenav-nav li a:focus {
  color: #337ab7; }
.sidenav-nav li:hover, .sidenav-nav li:focus {
  background-color: #f1f2fb; }
.sidenav-nav li .night-mode-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-size: 14px;
  font-weight: 500; }
.sidenav-nav li .night-mode-nav .form-check {
  padding-top: .25rem;
  min-height: auto;
  margin-bottom: 0;
  margin-left: auto; }
.sidenav-nav li .night-mode-nav .form-check input {
  margin: 0; }
.sidenav-nav li .night-mode-nav svg {
  margin-right: 1rem; }
.sidenav-nav li .night-mode-nav:hover, .sidenav-nav li .night-mode-nav:focus {
  color: #337ab7; }

.affan-dropdown-menu {
  position: relative;
  z-index: 1; }
.affan-dropdown-menu.active {
  background-color: #f1f2fb; }
.affan-dropdown-menu ul {
  display: none;
  padding-bottom: .75rem;
  padding-left: 1.5rem; }
.affan-dropdown-menu ul li a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
.affan-dropdown-menu .dropdown-trigger-btn {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  top: 0.5rem;
  right: 1.25rem;
  width: 30px;
  background-color: transparent;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer; }
.affan-dropdown-menu .dropdown-trigger-btn i {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  font-size: 18px;
  line-height: 30px;
  color: #1f0757; }
.affan-dropdown-menu .dropdown-trigger-btn.active i {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.social-info-wrap {
  position: relative;
  z-index: 1;
  padding: 1.5rem 1.25rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #ebebeb; }
.social-info-wrap a {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ebebeb;
  text-align: center;
  border-radius: 50%;
  margin: 0 .25rem;
  color: #8480ae; }
.social-info-wrap a i {
  line-height: 28px; }
.social-info-wrap a:hover, .social-info-wrap a:focus {
  color: #337ab7;
  border-color: #337ab7; }

.copyright-info {
  padding: 0 1.5rem 1.5rem;
  text-align: center; }
.copyright-info p {
  margin-bottom: 0;
  font-size: 14px; }
.copyright-info p a {
  padding-left: 0.25rem;
  font-size: 14px; }

/* :: Button CSS */
.btn {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 0px; }

.btn-group-lg > .btn,
.btn-lg {
  font-size: 1rem;
  padding: 10px 22px;
  border-radius: 0px; }

.btn-group-sm > .btn,
.btn-sm {
  font-size: 12px;
  padding: .25rem .625rem;
  border-radius: 0px; }

.btn-round {
  border-radius: 50rem !important; }

.btn-group-lg > .btn.btn-round,
.btn-lg.btn-round {
  padding: 11px 22px; }

.btn-group-sm > .btn.btn-round,
.btn-sm.btn-round {
  padding: .25rem .75rem; }

.btn-creative {
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden; }
.btn-creative:hover, .btn-creative:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }
.btn-creative.btn-primary::after {
  background-color: #061238; }
.btn-creative.btn-secondary::after {
  background-color: #1f0757; }
.btn-creative.btn-success::after {
  background-color: #061238; }
.btn-creative.btn-danger::after {
  background-color: #061238; }
.btn-creative.btn-warning::after {
  background-color: #f1f2fb; }
.btn-creative.btn-info::after {
  background-color: #061238; }
.btn-creative.btn-light::after {
  background-color: #f1b10f; }
.btn-creative.btn-dark::after {
  background-color: #337ab7; }
.btn-creative::after {
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -2;
  border-radius: 50%; }
.btn-creative:hover::after, .btn-creative:focus::after {
  top: -40%; }

.btn > i {
  font-size: 1rem; }

.btn-circle {
  border: 0;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.btn-circle > svg,
.btn-circle > i {
  font-size: 1.25rem;
  margin-right: 0;
  line-height: 1; }

/* :: Badge CSS */
.badge {
  padding: .25rem .5rem;
  border-radius: .25rem; }

.badge-avater {
  position: relative;
  z-index: 1;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  line-height: 2rem;
  font-weight: 700;
  font-size: 14px; }
.badge-avater:hover, .badge-avater:focus {
  color: #ffffff; }
.badge-avater img {
  display: block; }
.badge-avater .status {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  border: 2px solid #ffffff; }
.badge-avater.badge-avater-sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 10px;
  line-height: 1.5rem; }
.badge-avater.badge-avater-sm .status {
  width: 0.5rem;
  height: 0.5rem;
  bottom: -2px;
  right: -1px;
  border: 1px solid #ffffff; }
.badge-avater.badge-avater-lg {
  width: 3rem;
  height: 3rem;
  font-size: 16px;
  line-height: 3rem; }
.badge-avater.badge-avater-lg .status {
  width: 1rem;
  height: 1rem;
  bottom: 0;
  right: 0; }

.badge-avater-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.badge-avater-group .badge-avater {
  margin-right: -.75rem; }
.badge-avater-group .badge-avater.badge-avater-sm {
  margin-right: -.5rem; }

/* :: Card CSS */
.card {
  border: 0 !important;
  -webkit-box-shadow: 0 1px 2px 0 #d7def4;
  box-shadow: 0 1px 2px 0 #d7def4;
  border-radius: 0; }

.card-bg-img.bg-overlay::after {
  border-radius: .5rem; }

.card-gradient-bg {
  background: #0cebeb;
  background: -webkit-gradient(linear, left top, right top, from(#29ffc6), color-stop(#20e3b2), to(#0cebeb));
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); }

.card-body {
  padding: 1.5rem; }

.cta-card {
  position: relative;
  z-index: 1; }
.cta-card.bg-overlay::after {
  opacity: 0.8; }

.card-badge {
  top: 1.5rem;
  left: 1.5rem; }

.card-img-wrap {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px;
  max-width: 100px;
  margin-right: 1rem; }

.card-round {
  border-radius: 50rem !important; }

/* :: List Group CSS */
.list-group {
  border-radius: 0.5rem; }

.list-group-item {
  position: relative;
  z-index: 1;
  border-color: #ebebeb;
  font-size: 14px;
  color: #073984;
  font-weight: 500;
  padding: 0.625rem 1rem; }
.list-group-item.active {
  background-color: #ffffff;
  border-color: #ebebeb !important;
  color: #337ab7;
  font-weight: 700; }
.list-group-item.active::after {
  position: absolute;
  width: 3px;
  height: 74%;
  content: "";
  background-color: #337ab7;
  top: 13%;
  left: 0;
  z-index: -10; }
.list-group-item.disabled {
  background-color: #ffffff;
  border-color: #ebebeb !important;
  color: #ebebeb;
  font-weight: 700; }
.list-group-item.disabled::after {
  position: absolute;
  width: 3px;
  height: 74%;
  content: "";
  background-color: #ebebeb;
  top: 13%;
  left: 0;
  z-index: -10; }

.list-group-flush .list-group-item {
  background-color: transparent !important; }
.list-group-flush .list-group-item.disabled {
  border-color: #ebebeb !important;
  color: #c2d4f8;
  font-weight: 700; }
.list-group-flush .list-group-item.disabled::after {
  position: absolute;
  width: 3px;
  height: 74%;
  content: "";
  background-color: #c2d4f8;
  top: 13%;
  left: 0;
  z-index: -10; }

/* :: Loader CSS */
.circle-loader {
  position: relative;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto; }
.circle-loader .circle-big {
  position: relative;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.85);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: circlebig 1s linear 0s infinite;
  animation: circlebig 1s linear 0s infinite; }

.dot-loader {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.dot-loader > div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 .375rem; }
.dot-loader .dot1 {
  -webkit-animation: dotloader 1s linear 0s infinite;
  animation: dotloader 1s linear 0s infinite; }
.dot-loader .dot2 {
  -webkit-animation: dotloader 0.75s linear 0s infinite;
  animation: dotloader 0.75s linear 0s infinite; }
.dot-loader .dot3 {
  -webkit-animation: dotloader 1s linear 0s infinite;
  animation: dotloader 1s linear 0s infinite; }

.circle-spinner {
  position: relative;
  z-index: 1;
  width: 2.4rem;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.circle-spinner .circle {
  position: relative;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #337ab7; }
.circle-spinner .circle::after {
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: #337ab7;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -5;
  opacity: 0.7;
  -webkit-animation: circleloader2 1.5s linear 0s infinite;
  animation: circleloader2 1.5s linear 0s infinite; }
.circle-spinner.circle-spinner-success .circle {
  background-color: #2ecc4a; }
.circle-spinner.circle-spinner-success .circle::after {
  background-color: #2ecc4a; }
.circle-spinner.circle-spinner-danger .circle {
  background-color: #ea4c62; }
.circle-spinner.circle-spinner-danger .circle::after {
  background-color: #ea4c62; }
.circle-spinner.circle-spinner-warning .circle {
  background-color: #f1b10f; }
.circle-spinner.circle-spinner-warning .circle::after {
  background-color: #f1b10f; }
.circle-spinner.circle-spinner-info .circle {
  background-color: #1787b8; }
.circle-spinner.circle-spinner-info .circle::after {
  background-color: #1787b8; }
.circle-spinner.circle-spinner-light .circle {
  background-color: #f1f2fb; }
.circle-spinner.circle-spinner-light .circle::after {
  background-color: #f1f2fb; }
.circle-spinner.circle-spinner-dark .circle {
  background-color: #061238; }
.circle-spinner.circle-spinner-dark .circle::after {
  background-color: #061238; }
